﻿@section Scripts{
    @Scripts.Render("~/Scripts/Skripta.js");
}

<html>
<head></head>
<body>

    <div class="container">
        <div class="row">

            <div class="col-sm-4"  id="divRegistracija">
                <form method="post" action="post/" id="registracija" style="display:none">
                    <h3>Registracija</h3>
                    <div class="form-group">
                        <label>Email</label>
                        <input class="form-control" type="text" id="regEmail" />
                    </div>
                    <div class="form-group">
                        <label>Lozinka</label>
                        <input class="form-control" type="password" id="regLoz" />
                    </div>
                    <div class="form-group">
                        <label>Potvrdi Lozinku</label>
                        <input class="form-control" type="password" id="regLoz2" />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default">Registracija</button>
                    </div>
                </form>
            </div>

            <div class="col-sm-4"  id="divPrijava">
                <form method="post" action="post/" id="prijava" style="display:block">
                    <h3>Prijava</h3>
                    <div class="form-group">
                        <label>Username</label>
                        <input class="form-control" type="text" id="priEmail" />
                    </div>
                    <div class="form-group">
                        <label>Lozinka</label>
                        <input class="form-control" type="password" id="priLoz" />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default">Prijava</button>
                        <button type="button" class="btn btn-default" id="prelazNaRegistraciju">Registracija</button>
                    </div>
                </form>
            </div>
        </div>

        <br/><br/>


        <hr />
        <div class="row">
            <div class="col-sm-4" >
                <p id="info" style="display:none"></p>
            </div>

            <br />

            <div class="col-sm-4" >
                <button id="odjava" style="display:none" class="btn btn-default" >Odjava</button>
            </div>

            <p id="sadrzaj"></p>
        </div>

        <div class="row">
            <button class="btn btn-default" id="btnTabela" style="display : none">UcitajTabelu</button>
        </div>

        <div class="row" id="divZaTabelu">

        </div>
        <hr/>

        <div class="row" id="divZaPretragu" style="display : none">
            <div class="col-sm-4">
                <label>Start: </label>
                <input class="form-control" type="number" id="start" />
            </div>

            <div class="col-sm-4">
                <label>Kraj: </label>
                <input class="form-control" type="number" id="kraj" />
            </div>
            

            <div class="col-sm-4">
                <button id="pretraga"  class="btn btn-default">Pretraga</button>
            </div>
        </div>
        <hr/>

        <div class="row" id="divZaDodavanjeNovogFestivala">
            <form method="post" action="post/" id="formCreate" style="display:none">
                <h3>Dodavanje novog festivala</h3>
                <div class="form-group">
                    <label>Naziv:</label>
                    <input class="form-control" type="text" id="proName" />
                </div>
                <div class="form-group">
                    <label>Cena karte:</label>
                    <input class="form-control" type="number" id="proPrice" />
                </div>
                <div class="form-group">
                    <label>Prvo odrzavanje:</label>
                    <input class="form-control" type="text" id="proDate" />
                </div>

                <!--Ovde dodajem selectBox na osnovu GET api/mesta-->
                <div class="form-group">
                    <label>Mesto:</label>
                    <select id="dropBox" name="odabranoMesto" >
                        <option id="0"></option>
                    </select>
                </div>


                <div class="form-group">
                    <button type="submit" class="btn btn-default">Dodavanje</button>
                    <button type="button" id="btnOdustajanje" class="btn btn-default">Odustajanje</button>
                </div>
            </form>

        </div>
    </div>


</body>

</html>